<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Getlink Fshare by Annnekkk-Server Getlink-Vippoint Fshare VN🇻🇳</title>
  </head>
  <body>
    <style>
      body {
         background-image: url('https://thumbs2.imgbox.com/2c/90/a9SfHSc2_t.png');
         background-repeat: no-repeat;
         background-attachment: fixed;  
         background-size: cover;
        }
     a:link {
       color: orange;
       background-color: transparent;
       text-decoration: none;
        }
     a:visited {
       color: green;
       background-color: transparent;
       text-decoration: none;
        }
     a:hover {
       color: red;
       background-color: transparent;
       text-decoration: underline;
        }
     a:active {
       color: yellow;
       background-color: transparent;
       text-decoration: underline;
        }
     div {
       font-weight: 600;
        }
    </style>
    <div class="container">
      <div id="menu">
        <nav class="navbar navbar-light bg-dark">
          <a class="navbar-brand" id="logo" href="#">Getlink được tài trợ bởi Newmoon21</a>
        </nav>
     <a href="https://discord.gg/hJWU2nbbbT" target="_blank">Discord Getlink-Vippoint Fshare VN🇻🇳</a>
      </div>
      <div class="form-group">
        <label for="link-fshare">Link Fshare cần get:</label>
        <input
          type="text"
          class="form-control"
          id="link-fshare"
          value=""
        />
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="typeget"
          id="getlink"
          value="getlink"
          checked
        />
        <label class="form-check-label" for="getlink">
          Getlink
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="typeget"
          id="xemonline"
          value="xemonline"
        />
        <label class="form-check-label" for="xemonline">
          Xem Online (MP4)
        </label>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-success" id="btn-xu-ly">Getlink</button>
      </div>

      <div id="result">
        <input type="text" class="form-control" id="link-maxspeed" />
        <div id="video-online" >
          <video id="player" playsinline controls></video>
        </div>
      </div>
    </div>
    <script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
